<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRCode Pixel Font</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="app">
    <div class="page">
        <h1 class="title">QRCode Pixel Font</h1>
        <div class="main">
            <div class="label">Text: </div>
            <textarea class="input-text" v-model="input"></textarea>
            <div class="label">QRCodes:</div>
            <textarea class="input-qrcodes" v-model="input"></textarea>
        </div>
        <div class="footer">
            <span>© 2025 狼人小林</span>
            <span class="separate">-</span>
            <a href="https://github.com/TakWolf/qrcode-pixel-font" target="_blank">Source Code</a>
        </div>
    </div>
</div>

<script src="js/app.js" type="module"></script>

</body>
</html>
