<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QRCode Pixel Font</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="app" class="page">
    <h1 class="title">QRCode Pixel Font</h1>
    <div class="main">
        <div class="label">Text:</div>
        <textarea class="input font-normal" v-model="input"></textarea>
        <br>
        <div class="label">QRCode:</div>
        <textarea class="input font-qrcode" v-model="input"></textarea>
    </div>
    <div class="footer">
        <span>© 2025 狼人小林</span>
        <span class="separate">-</span>
        <a href="https://github.com/TakWolf/qrcode-pixel-font" target="_blank">Source Code</a>
    </div>
</div>

<script src="js/app.js" type="module"></script>

</body>
</html>
